button > .material-icons {
    pointer-events: none;
}

[type="checkbox"]:checked+label:before {
    border-right-color: #e91e63;
    border-bottom-color: #e91e63;
}
input[type=text]:focus:not([readonly]) {
    border-bottom-color: #e91e63;
    box-shadow: 0 1px 0 0 #e91e63;
}

.header-title {
    color: white;
    padding: 80px 40px 20px; 
    font-size: 56px;
    margin-bottom: 0;
}

.nav-ul {
    display: flex;
    justify-content: center;
}

.hidden {
    animation: none;
    opacity: 0;
    pointer-events: none;
}

.main-content .card-image {
    overflow: visible !important;
}

.main-content .progress {
    margin-top: 0;
    margin-bottom: 0;
}
.card.large {
    height: auto;
    margin-top: 0;
}
.card.large > h2 {
    padding: 20px;
    margin: 0;
}

.poster-dummy {
    opacity: 1;
    height: 300px;
}
.card-reveal .preloader-container {
    opacity: 0;
}
.reveal-shown .card-reveal .preloader-container {
    opacity: 1;
}
.card.large.reveal {
    overflow-y: hidden;
}

.card .card-title.activator {
    position: relative;
}
.card-content button {
    text-transform: uppercase;
    color: #e91e63;
    position: absolute;
    right: 0;
    font-size: 0.75em;
    pointer-events: none;
}
.card .card-reveal {
    position: absolute;
    display: block;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    top: 0;
    transform: translateY(100%);
}
.reveal-shown .card-reveal {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.card .card-title.activator > .material-icons {
    pointer-events: none;
}

.pagination {
    display: flex;
    justify-content: center;
}
.pagination > li:not(:first-child):not(:last-child) {
    width: 30px; height: 30px;
    margin: 0 10px;
    border-radius: 100%;
}
.disabled {
    pointer-events: none;
    opacity: 0;
}
.pagination .pagination-btn {
    color: #303030;
}
.pagination button {
    height: 30px; width: 30px;
    line-height: 30px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    left:0;
}

@media only screen and (max-width : 600px) {
    .header-title {
        font-size: 32px;
    }
    .pagination > li:not(:first-child):not(:last-child) {
        margin: 0 5px;
    }
}

@keyframes like {
    0% {
        color: inherit;
        transform: scale(1);
    }
    30% {
        color: inherit;
        transform: scale(0.9);
    }
    60% {
        color: #F44336;
        transform: scale(1.2);
    }
    100% {
        color: #F44336;
        transform: scale(1);
    }
}
@keyframes shake {
    0% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes showMovieCard {
    from {
        transform: translate3d(0,200px,0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes showMain {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes showHeader {
    from {
        transform: translate3d(0,-100%,0);
    }
    to {
        transform: translate3d(0,0,0);
    }
}