.App > header {
    transform: translate3d(0,-100%,0);
    animation: showHeader 0.8s forwards;
    animation-delay: 0.3s;
    z-index: 100;
    overflow: visible;
    position: relative;
}
.App > main {
    opacity: 0;
    animation: showMain 1s forwards;
    animation-delay: 1.15s;
}

.main-content.main-home {
    background-color: #455a64;
    height: 100%;
}